<div>
	<div class="row">
		<div class="col-md-8">
			<h1><a href="/" target="_self">THING VIEWER</a></h1>
		</div>
		<div class="col-md-4">
			<!--small upper data area-->
        	<status-box></status-box>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<!--navigation bar area-->
        	<nav-bar></nav-bar>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<ui-view></ui-view>

			<!--<home></home>	PLACEHOLDER-->
			<!--<other-home></other-home>-->
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<!--bottom info area-->
        	<info-box></info-box>
		</div>
	</div>
</div>